.about {
    font-size: 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: space-between;
    align-items: center;
}

.about__ornament {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 2rem;
    text-align: end;
}

.about__ornament--image {
    width: 7rem;
    height: 7rem;
}

.about__title {
    font-size: 3.2rem;
    text-align: left;
    text-shadow: 1px 1px 2px var(--color-font-bright);
    border-bottom: 2px solid var(--color-font-base);
}

.about2__title {
    font-size: 3.2rem;
    text-align: right;
    text-shadow: 1px 1px 2px var(--color-font-bright);
    border-bottom: 2px solid var(--color-font-base);
}

.about__paragraph {
    padding: 2rem 1rem;
    font-size: 2.4rem;
}

.about__image-container {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__image{
    width: 80%;
    max-height: 100%;
}

/* /////////////////////////////////////////////////////////// */

@media screen and(max-width: 1255px){
    
    .about__ornament--image {
        width: 5.5rem;
        height: 5.5rem;
    }
    
    .about__paragraph {
        font-size: 2.2rem;
    }

    .about__title,
    .about2__title {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 950px),
       screen and (max-height: 690px){  
    .about__paragraph {
        font-size: 2.0rem;
    }
}

@media screen and (max-width: 790px),
       screen and (max-height: 630px){  
    .about__paragraph {
        font-size: 1.8rem;
    }

    .about__title,
    .about2__title {
        font-size: 2.2rem;
    }


    .about__ornament--image {
        width: 3.5rem;
        height: 3.5rem;
    }
}

@media screen and (max-width: 720px)
{  
    .about__paragraph {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 680px),
       screen and (max-height: 500px){  
    .about__paragraph {
        font-size: 1.4rem;
    }
}


@media screen and (max-height: 450px){  
    .about__paragraph {
        padding: .5rem;
        font-size: 1.2rem;
    }

    .about__title,
    .about2__title {
        font-size: 2.0rem;
    }

}

@media screen and (max-height: 350px){

    .about__ornament--image {
        width: 2.5rem;
        height: 2.5rem;
    }

    .about__title,
    .about2__title {
        font-size: 1.8rem;
    }
}  

