.gallery-image__container {
    width: 100%;
    height: 100%;
}


.gallery-image {
    min-width: 0px;
    min-height: 0px;
    padding: 1rem;
    margin: 0;
    background-color: #ffffff9c;
    max-width: 100%;
    max-height: 100%;

    font-family: 'Homemade Apple', cursive;
    font-size: 2.0rem;
    font-weight: 500;
    color: rgb(0, 0, 100);
    letter-spacing: 1px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-radius: 3px;

    position: relative;
}

.gallery__tape {
    width: 6rem;
    height: 2rem;
    position: absolute;
    background-color: rgba(250, 255, 163, 0.5);
    z-index: 100;

}

.top-left {
    top: 0;
    left: -1.5rem;
    transform: rotate(-45deg);
}

.top-right {
    top: 0;
    right: -1.5rem;
    transform: rotate(45deg);
}

.bottom-right {
    bottom: 0;
    right: -1.5rem;
    transform: rotate(-45deg);
}

.bottom-left {
    bottom: 0;
    left: -1.5rem;
    transform: rotate(45deg);
}


.gallery-image__picture {
    max-width: 70%;
    max-height: 70%;
    border-radius: 3px;
    transition: all .2s;
    filter: sepia(40%);

}

.gallery-image__picture:hover {
    transform: scale(1.04);
    filter: brightness(1.2);
    filter: sepia(0%);
    cursor: zoom-in;
}

/* /////////////////////////////////////////// */

@media screen and (max-width: 1200px) {
    .gallery-image {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 960px) {
    .gallery-image {
        font-size: 1.6rem;
        padding: .5rem;
    }

    .gallery__tape {
        width: 5rem;
        height: 1.4rem;
        position: absolute;
        background-color: rgba(250, 255, 163, 0.5);
        z-index: 100;
    
    }
}

@media screen and (max-width: 820px) {
    .gallery-image {
        font-size: 1.4rem;
        padding: .3rem;
    }

    .gallery__tape {
        display: none;
    }
}

@media screen and (max-width: 800px),
       (max-height: 540px){
        
        .gallery-image{
            font-size: 1.2rem;
            padding: .2rem;
            gap: 1rem;
        }


}

@media screen and (max-height: 650px){
        
    .gallery-image{
        display: content-box;
        font-size: 1.4rem;
        gap: 1rem;
        padding: .5rem;
    }

    .gallery__tape {
        width: 5rem;
        height: 1.4rem;
        position: absolute;
        background-color: rgba(250, 255, 163, 0.5);
        z-index: 100;
    
    }

}

@media screen and (max-height: 450px){
    .gallery-image{
        font-size: 1.2rem;
        gap: 1rem;
    }

    .gallery-image__caption {
        display: none;
    }

    .gallery-image__picture {
        max-width: 95%;
        max-height: 95%;
    }
}