.products {
    display: grid;
    width: 100%;
    height: 100%;
    gap: -1rem;
}

.products__ornament--image {
    max-width: 6rem;
    max-height: 6rem;
}

.products__title {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--color-font-base);
    align-self: start;
}

.products__label {
    font-size: 3.2rem;
    text-align: left;
    text-shadow: 1px 1px 2px var(--color-font-bright);

    align-self: start;
}

.product-card {
    min-width: 0px;
    min-height: 0px;
    display: flex;
    align-items: center;
    padding: 1rem;
    align-self: start;

}

.product-card--top,
.product-card--bottom{
    align-self: start;
}

.product-card__image {
    width: 30%;
    filter: contrast(120%) sepia(70%) saturate(80%);
    transition: all .3s;
    align-self: center;
    
}

.product-card__image:hover {
    filter: contrast(100%) sepia(0%) saturate(100%);
}

.product-card__description {
    font-size: 1.9rem;
    padding: 1rem 2rem;
}

.product-card__description-name {
    border-bottom: 1px solid var(--color-font-base);
    text-transform: uppercase;
    font-size: 2.2rem;
    padding-bottom: .2rem;
}

.product-card__description-text {
    text-align: justify;
    font-size: inherit;
    padding: .5rem;
}

.product-card__signature {
    margin-top: 1rem;
    font-family: 'Homemade Apple', cursive;
    font-size: 1.6rem;
    color: rgb(0, 0, 65);
    text-align: right;
}

.to-right {
    text-align: right;

}

.to-left {
    text-align: left;
}

/* ///////////////////////////////////////////// */

@media screen and (max-width: 1400px),
       screen and (max-height: 715px) {

    .products__label {
        font-size: 2.4rem;
    }

    .products__ornament--image {
        max-width: 4rem;
        max-height: 4rem;
    }

    .product-card__description {
        font-size: 1.6rem;
    }

    .product-card__signature {
        margin-top: .5rem;
        font-size: 1.2rem;
    }


    .product-card__image {
        width: 25%;
        
    }
}

@media screen and (max-width: 1100px),
       screen and (max-height: 600px) {

    .product-card__description-name {
        font-size: 2rem;
        padding-bottom: .2rem;
    }

    .product-card__description {
        font-size: 1.4rem;
    }

    .product-card__signature {
        margin-top: .4rem;
        font-size: 1rem;
    }


    .product-card__image {
        width: 20%;
        
    }
}

@media screen and (max-height: 450px),
       screen and (max-width: 950px) {

    .product-card__description-name {
        font-size: 1.5rem;
        padding-bottom: .2rem;
    }

    .product-card__description {
        font-size: 1.2rem;
    }

    .product-card__signature {
        margin-top: .1rem;
        font-size: .9rem;
    }

    .product-card__image {
        align-self: start;
        width: 11%;
        
    }
}
@media screen and (max-width: 700px) {
    
    .product-card__description-name {
        font-size: 1.2rem;
        padding-bottom: .2rem;
    }

    .product-card__description {
        font-size: 1.0rem;
        padding: 0;
    }

    .product-card__signature {
        margin-top: .1rem;
        font-size: .8rem;
    }

    .product-card__image {
        width: 11%;
        align-self: start;
        
    }
}

@media screen and (min-aspect-ratio: 2/1){

    .product-card__image {
        align-self: start;
    }

    .products--right {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .product-card--bottom {
        align-self: end;
    }
}